.auth-banner-container svg {
  width: 100%;
}

@media (min-width: 992px) {
  .auth-container h1 {
    font-size: 28px;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
  }

  .auth-banner-container {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media (min-width: 1400px) {
  .auth-container h1 {
    font-size: 38px;
    margin-bottom: 25px;
  }

  .auth-banner-container {
    margin-top: 40px;
  }
}
