.home-container-sidebar {
  width: 100%;
  background-color: rgb(246, 249, 251);
}

.home-container-main {
  display: none;
}

@media (min-width: 1200px) {
  .home-container-sidebar {
    width: 410px;
  }

  .home-container-main {
    display: flex;
  }
}
